/*==================================
        MartianTribuneStories & footer
    ====================================*/
.afterThought {
    text-align: left;
    font-size: 1rem;
    text-shadow: none;
    color: var(--color-fadedText);

}

.afterThought a {
    font-size: 1rem;
}

.afterThought a:hover {
    font-size: 1.05rem;
    color: var(--color-links);
}

.CSSValidator a img {
    max-height: 1.3rem;
    max-width: 4rem;
}